<h2>Online board games by gotitim</h2>

<a href="/amazonki">
  <h3>Amazonki</h3>
  <img src="https://files.rebel.pl/products/100/1203/_108634/lucrum-games-karciane-amazonki-okladka.jpg" width="200px"/>
</a>

<a href="/tictactoe">
  <h3>Kółko i krzyżyk (Tic-Tac-Toe)</h3>
</a>