<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/style/tictactoe.css" />
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <table>
    <tbody>
      <tr>
        <td id="a1"></td>
        <td id="b1" class="vert"></td>
        <td id="c1"></td>
      </tr>
      <tr>
        <td id="a2" class="hori"></td>
        <td id="b2" class="hori vert"></td>
        <td id="c2" class="hori"></td>
      </tr>
      <tr>
        <td id="a3"></td>
        <td id="b3" class="vert"></td>
        <td id="c3"></td>
      </tr>
    </tbody>
  </table>
  <script src="/tictactoe.js"></script>
</body>

</html>