<link rel="stylesheet" href="/style/tictactoe.css" />

<table>
  <tbody>
    <tr>
      <td id="a1"></td>
      <td id="b1" class="vert"></td>
      <td id="c1"></td>
    </tr>
    <tr>
      <td id="a2" class="hori"></td>
      <td id="b2" class="hori vert"></td>
      <td id="c2" class="hori"></td>
    </tr>
    <tr>
      <td id="a3"></td>
      <td id="b3" class="vert"></td>
      <td id="c3"></td>
    </tr>
  </tbody>
</table>
<p>GAME STATUS: <span id="game-status">PENDING</span></p>
<p><button id="reset-game-btn">RESET GAME</button></p>
<p id="room">
  ROOM:
  <%= room %>
</p>

<form action="./">
  <input placeholder="Change room" name="room" />
  <input type="submit" value="Confirm">
</form>

<script src="/tictactoe.js"></script>